div.highlighter-rouge, figure.highlight {
	position: relative;
	display: block;
	margin-bottom: 2em;
	background-color: #d8cbae;
	color: #586e75;
	font-family: $code-font;
	font-size: 0.8em;
}
pre.highlight {
	padding: 1rem;
}
.highlight {
	pre {
    background: #fdf6e3;
    -webkit-box-shadow: inset 0 0 2px #000000;
    -moz-box-shadow: inset 0 0 2px #000000;
    box-shadow: inset 0 0 2px #000000;
    color: #586e75;
    margin-left: 0px;
    font-family: 'Droid Sans Mono', monospace;
    padding: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
/* Text */
.t   { color: #586e75 }

/* Whitespace */
.w   { color: #073642 }

/* Error */
.err { color: #cb4b16; }

/* Keyword */
.k   { color: #859900 }
.kc  { color: #2aa198 } /* Keyword.Constant */
.kd  { color: #268bd2 } /* Keyword.Declaration */
.kn  { color: #b58900 } /* Keyword.Namespace */
.kp  { color: #859900 } /* Keyword.Pseudo */
.kr  { color: #073642 } /* Keyword.Reserved */
.kt  { color: #b58900 } /* Keyword.Type */

/* Name */
.n   { color: #586e75 }
.na  { color: #2aa198 } /* Name.Attribute */
.nb  { color: #268bd2 } /* Name.Builtin */
.nc  { color: #268bd2 } /* Name.Class */
.ne  { color: #cb4b16 } /* Name.Error */
.no  { color: #2aa198 } /* Name.Constant */
.nd  { color: #2aa198 } /* Name.Decorator */
.ni  { color: #2aa198; font-weight: bold } /* Name.Entity */
.nf  { color: #268bd2 } /* Name.Function */
.nn  { color: #586e75; } /* Name.Namespace */
.nt  { color: #2aa198; font-weight: bold } /* Name.Tag */
.nv  { color: #cb4b16 } /* Name.Variable */

/* Builtin */
.b   { color: #859900 }
.bp  { color: #586e75 } /* Name.Builtin.Pseudo */

/* Variable */
.v   { color: #586e75 }
.vc  { color: #586e75 } /* Name.Variable.Class */
.vg  { color: #268bd2 } /* Name.Variable.Global */
.vi  { color: #268bd2 } /* Name.Variable.Instance */

/* Literal */

/* Literal.Number */
.m { color: #268bd2 } /* Literal.Number */
.mf { color: #268bd2 } /* Literal.Number.Float */
.mh { color: #268bd2 } /* Literal.Number.Hex */
.mi { color: #268bd2 } /* Literal.Number.Integer */
.mo { color: #268bd2 } /* Literal.Number.Oct */

/* Literal.String */
.s { color: #2aa198 }
.sb { color: #2aa198 } /* Literal.String.Backtick */
.sc { color: #2aa198 } /* Literal.String.Char */
.sd { color: #2aa198 } /* Literal.String.Doc */
.s2 { color: #2aa198 } /* Literal.String.Double */
.se { color: #cb4b16 } /* Literal.String.Escape */
.sh { color: #2aa198 } /* Literal.String.Heredoc */
.si { color: #cb4b16 } /* Literal.String.Interpol */
.sx { color: #2aa198 } /* Literal.String.Other */
.sr { color: #cb4b16 } /* Literal.String.Regex */
.s1 { color: #2aa198 } /* Literal.String.Single */
.ss { color: #cb4b16 } /* Literal.String.Symbol */

/* Literal.Integer */
.il { color: #268bd2 } /* Literal.Number.Integer.Long */

/* Operator */
.o  { color: #586e75 }
.ow { color: #859900 } /* Operator.Word */

/* Punctuation */
.p  { color: #586e75 }

/* Comment */
.c { color: #93a1a1; font-style: italic }
.cm { color: #93a1a1; } /* Comment.Multiline */
.cp { color: #93a1a1 } /* Comment.Preproc */
.c1 { color: #93a1a1; } /* Comment.Single */
.cs { color: #93a1a1; } /* Comment.Special */

.hll { background-color: #dc322f }

/* Generic */
.g { color: #586e75 }
.gd { color: #586e75 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #586e75 } /* Generic.Error */
.gh { color: #586e75; font-weight: bold } /* Generic.Heading */
.gi { color: #586e75 } /* Generic.Inserted */
.go { color: #586e75 } /* Generic.Output */
.gp { color: #586e75 } /* Generic.Prompt */
.gs { font-weight: 586e75 } /* Generic.Strong */
.gu { color: #586e75; font-weight: bold } /* Generic.Subheading */
.gt { color: #586e75 } /* Generic.Traceback */

}

.gist {
	.blob-code-inner,
	.blob-num {
		font-family: $code-font !important;
		font-size: 0.8rem !important;
	}
	.gist-meta {
		font-family: $base-font !important;
	}
}
